Source: openggsn
Section: net
Priority: optional
Maintainer: Harald Welte <laforge@gnumonks.org>
Build-Depends: debhelper (>= 7.0.50~), dh-autoreconf, autotools-dev, pkg-config
Standards-Version: 3.8.4
Homepage: http://sourceforge.net/projects/ggsn/
Vcs-Git: git://git.osmocom.org/openggsn
Vcs-Browser: http://cgit.osmocom.org/cgit/openggsn/

Package: openggsn
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Gateway GPRS Support Node

Package: openggsn-dbg
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, openggsn
Description: Debug symbols for openggsn

Package: libgtp
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: library implementing the GTP protocol between SGSN and GGSN

Package: libgtp-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libgtp
Description: Development headers for libgtb

Package: libgtp-dbg
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libgtp
Description: Debug symbols for libgtb

